[submodule "ansible-role-sudo"]
	path = roles/ansible-role-sudo
	url = https://github.com/tbasset/ansible-role-sudo.git
	branch = winter-is-coming
[submodule "ansible-role-apache"]
	path = roles/ansible-role-apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "ansible-role-apache-php-fpm"]
	path = roles/ansible-role-apache-php-fpm
	url = https://github.com/geerlingguy/ansible-role-apache-php-fpm.git
[submodule "ansible-role-bind"]
	path = roles/ansible-role-bind
	url = https://github.com/bertvv/ansible-role-bind.git
[submodule "ansible-role-deploy-git-repos"]
	path = roles/ansible-role-deploy-git-repos
	url = https://github.com/gcoop-libre/ansible-role-deploy-git-repos.git
[submodule "ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
[submodule "ansible-role-elasticsearch"]
	path = roles/ansible-role-elasticsearch
	url = https://github.com/geerlingguy/ansible-role-elasticsearch.git
[submodule "ansible-role-filebeat"]
	path = roles/ansible-role-filebeat
	url = https://github.com/geerlingguy/ansible-role-filebeat.git
[submodule "ansible-role-gitea"]
	path = roles/ansible-role-gitea
	url = https://github.com/thomas-maurice/ansible-role-gitea.git
[submodule "ansible-role-haproxy"]
	path = roles/ansible-role-haproxy
	url = https://github.com/geerlingguy/ansible-role-haproxy.git
[submodule "ansible-role-helm"]
	path = roles/ansible-role-helm
	url = https://github.com/geerlingguy/ansible-role-helm.git
[submodule "ansible-role-kibana"]
	path = roles/ansible-role-kibana
	url = https://github.com/geerlingguy/ansible-role-kibana.git
[submodule "ansible-role-kubernetes"]
	path = roles/ansible-role-kubernetes
	url = https://github.com/geerlingguy/ansible-role-kubernetes.git
[submodule "ansible-role-ldap"]
	path = roles/ansible-role-ldap
	url = https://github.com/joshuacherry/ansible-role-ldap.git
[submodule "ansible-role-linux-desktop"]
	path = roles/ansible-role-linux-desktop
	url = https://github.com/opsxcq/ansible-role-linux-desktop.git
[submodule "ansible-role-logstash"]
	path = roles/ansible-role-logstash
	url = https://github.com/geerlingguy/ansible-role-logstash.git
[submodule "ansible-role-motd"]
	path = roles/ansible-role-motd
	url = https://github.com/klems/ansible-role-motd.git
[submodule "ansible-role-mysql"]
	path = roles/ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "ansible-role-php"]
	path = roles/ansible-role-php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "ansible-role-proxmox"]
	path = roles/ansible-role-proxmox
	url = https://github.com/tbasset/ansible-role-proxmox.git
[submodule "ansible-role-systemd-networkd"]
	path = roles/ansible-role-systemd-networkd
	url = https://github.com/aruhier/ansible-role-systemd-networkd.git
[submodule "ansible-role-windows-initial-setup"]
	path = roles/ansible-role-windows-initial-setup
	url = https://github.com/tbasset/ansible-role-windows-initial-setup.git
[submodule "ansible-role-windows-bginfo"]
	path = roles/ansible-role-windows-bginfo
	url = https://github.com/tbasset/ansible-role-win-bginfo.git
[submodule "ansible-role-windows-updates"]
	path = roles/ansible-role-windows-updates
	url = https://github.com/deekayen/ansible-role-win_updates.git
[submodule "ansible-role-windows-wsl2"]
	path = roles/ansible-role-windows-wsl2
	url = https://github.com/bit-kitchen/ansible-role-wsl2.git
[submodule "ansible-role-debloat-windows"]
	path = roles/ansible-role-debloat-windows
	url = https://github.com/ccdc-opensource/ansible-role-debloat-windows.git
[submodule "ansible-role-cacertificates"]
	path = roles/ansible-role-cacertificates
	url = https://github.com/tbasset/ansible-role-cacertificates.git
[submodule "ansible-firefox-config"]
	path = roles/ansible-firefox-config
	url = https://github.com/juju4/ansible-firefox-config.git
[submodule "ansible-windows-remote-desktop"]
	path = roles/ansible-windows-remote-desktop
	url = https://github.com/mrlesmithjr/ansible-windows-remote-desktop.git
